<%- include ('./header') %>
<body>	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
	<div style="margin-top: 20px; margin-left: 80%; text-align: center;">
		<h3>Ajoutez du crédit</h3>
		<input id='rech' name="rech" placeholder="Saissisez un nombre de crédit à ajouter" required="required">
		<input onclick='addCredit()'  id='btn' type="button" value="Valider">
	</div>
	<div class="test">
		<div id="token" style="margin-bottom: 20px;">
		
		</div>
	<form>
		<h1>Saisissez une ville pour afficher sa température</h1>
		<h2 id="credit">

		</h2>
		
		<input id='ville' name="ville" placeholder="Saissisez une ville" required="required">
		<input onclick='getDon()'  id='btn' type="button" value="Valider">
	</form>
		<div class="rep">
			<div id="aff1">

			</div>

			<div id="aff2">

			</div>

			<div id="aff3">

			</div>

			<div id="aff">
		</div>

	<input onclick='deconnexion()' type="button" value="Se déconnecter">
	
</div>
</body>
</html>