<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Meteo</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./js/source.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="./styles/style.css" type="text/css"  />
</head>
<body>	

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
	
	<div class="test">

		<h1>Saisissez une ville pour afficher sa température</h1>
		<input id='ville' name="ville" value="Saissisez une ville">
		<input onclick='getDon()' id='btn' type="button" value="Valider">
		<div class="rep">
			<div id="aff1">

			</div>

			<div id="aff2">

			</div>

			<div id="aff3">

			</div>

			<div id="aff">
		</div>
	</div>

</div>
</body>
</html>
